$cor-principal: #FA58B6;
$cor-secundaria: #270082;

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    .esquerdo {
        width: 50%;
        background-color: $cor-principal;
        .texto {
            margin-top: 40%;
            text-align: center;
            font-size: 150px;
            color: $cor-secundaria;
        }
    }
    .direito {
        width: 50%;
        background-color: $cor-secundaria;
        .texto {
            margin-top: 40%;
            text-align: center;
            font-size: 150px;
            color: $cor-principal;
        }
    }
}
